.caja-1{

}
.caja-2{
    position: relative;
    bottom: 600px;
    left: 300px;
}
.caja-3{
    position: relative;
    bottom: 1200px;
    left: 700px;
}
.cajita1{
    position: relative;
    left: 20px;
    top: 50px;
}
.cajita2{
    position: relative;
    left: 180px;
    bottom: 150px;
}
.cajita3{
    position: relative;
    left: 20px;
    bottom: 40px;
}
.cajita4{
    position: relative;
    left: 180px;
    bottom: 240px;
}
.cajita1-1{
    position: relative;
    left: 20px;
    top: 20px;
}
.cajita1-2{
    position: relative;
    left: 150px;
    bottom: 80px;
}
.cajita1-3{
    position: relative;
    left: 280px;
    bottom: 180px;
}
.cajita1-4{
    position: relative;
    left: 20px;
    bottom: 50px;
}
.cajita1-5{
    position: relative;
    left: 150px;
    bottom: 150px;
}
.cajita1-6{
    position: relative;
    left: 280px;
    bottom: 250px;
}
.cajita1-7{
    position: relative;
    left: 20px;
    bottom: 150px;
}
.cajita1-8{
    position: relative;
    left: 150px;
    bottom: 250px;
}
.cajita1-9{
    position: relative;
    left: 280px;
    bottom: 350px;
}
.cajita1-1-1{
    position: relative;
    left: 40px;
    top: 40px;
}
.cajita1-1-2{
    position: relative;
    left: 40px;
    top: 70px;
}
.cajita1-1-3{
    position: relative;
    left: 180px;
    bottom: 30px;
}
.cajita1-1-4{
    position: relative;
    left: 40px;
    top: 10px;
}
.cajita1-1-5{
    position: relative;
    left: 40px;
    top: 50px;
}
.cajita1-1-6{
    position: relative;
    left: 180px;
   bottom: 50px;
}